#home{
    /* background-image: url(/images/backgrounds/c_image.jpg); */
    color: white;
    font-size: 20px;
    text-align: center;
    background-image: url('../images/backgrounds/h_img.jpg');
}
.welcome{
    font-size: 40px;
}
#about{
    text-align: center;
}
#services{
    background-image: url('../images/backgrounds/s_image.jpg');
    color: white;
    text-align: center;
    font-size: 20px;

}