#home{
    /* background-image: url(/images/backgrounds/c_image.jpg); */
    color: white;
    font-size: 20px;
    text-align: center;
    background-image: url('../images/backgrounds/h_img.jpg');
}
.welcome{
    font-size: 40px;
}
#about{
    text-align: center;
}
#services{
    background-image: url('../images/backgrounds/s_image.jpg');
    color: white;
    text-align: center;
    font-size: 20px;

}
#portfolio{
    text-align: center;
}
#contact{
    background-image: url('../images/backgrounds/c_image.jpg');
    text-align: center;
    color: white;
}
form{
    text-align: center;
    form-size: 5%;
}
.container-whatwedo {
    text-align: center;
}
#portfolio{
    text-align: center;
}
#footer{
    text-align: center;
    font-size: large;
}
#icons{
    text-align: center;
}
#name{
    background: none;
}
#email{
    background: none;
}
#message{
    background: none;
}
}
footer{
display: inline-block;
}
.inpo{
width: 35%;
}
input{
background: inherit;
width: 25%;
}
input{
  color:white;
}
textarea {
background: inherit;
width: 50%;
color:white;
}
button{
  width: 20%;
}
.to-hide{
    display: n;
}
.fafa{
    text-align: center;
}